<div class="card">
    <div class="card-body" *ngFor="let item of weather | slice:5:6; let i=index">
            <!--<h4>Weather of</h4>-->
            <p *ngIf="i<2">{{item['Datum']}} {{item['Zeit']}}</p>
        <div class="flex-row">
            <div class="col col">Temp. A.: {{item['Temp. A.']}}°C</div>
            <div class="col col">Temp. 3: {{item['Temp. 3']}}°C</div>
            <div class="col col">Feuchte A.: {{item['Feuchte. A.']}}%</div>
            <div class="col col">Luftdruck: {{item['Luftdruck']}}%</div>
            <div class="col col">Regen: {{item['Regen']}}mm</div>
            <div class="col col">Wind: {{item['Wind']}}km/h</div>
            <div class="col col">Richtung: {{item['Richtung']}}°</div>
            <div class="col col">Helligkeit: {{item['Helligkeit']}}°C</div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4>News of weather</h4>
        <div class="card-title" *ngFor="let item of newsItems | slice:0:5; let i=index" >
            <a *ngIf="i<11 " [href]="item ['link']">{{item['title']}}</a>
            <hr>
        </div>
    </div>
</div>
