<div class="card">
    <div class="card-body">
        <!--<h4>TypeScript (Newest) of</h4>-->
        <div class="card-title" *ngFor="let item of newsItems | slice:0:10; let i=index" >
            <a *ngIf="i<11 " [href]="item ['link']">{{item['title']}}</a>
            <hr>
        </div>
    </div>
</div>
