<!--<p>News on our dashboard</p>-->

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-3">-->
            <!--<app-news></app-news>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--<app-news-list></app-news-list>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--<app-weather></app-weather>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="jumbotron text-center">
    <h1>News on our dashboard</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="card-img-top" src="../../assets/images/layout/typescript.png" alt="Card typescript" height="auto">
            <h3>News of TypeScript</h3>
            <app-news></app-news>
        </div>
        <div class="col-sm-4">
            <img class="card-img-top" src="../../assets/images/layout/angular.png" alt="Card angular">
            <h3>News of Angular</h3>
            <app-news-list></app-news-list>
        </div>
        <div class="col-sm-4">
            <img class="card-img-top-2" src="../../assets/images/layout/weather.png" alt="Card weather">
            <h3>Weather (01.01.2016)</h3>
            <app-weather></app-weather>
        </div>
    </div>
</div>
