h1{
    font-size: 40px;
    font-style: revert;
    font-stretch: extra-expanded;
}

.card-img-top {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top-2 {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    height: 50px;
}

h3{
    font-size: 25px;
}
